* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
}

a {
  text-decoration: none;
}

button:focus {
  outline: 0 none;
}

img,
iframe {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  font-family: 'Tajawal';
  text-align: right;
  direction: rtl;
  min-height: 100%;
  height: 100%;
}

.medium_font {
  font-weight: 500;
}

.bold_font {
  font-weight: 700;
}

.no_arrow:after {
  content: none;
}

.primary {
  color: #2BA84A;
}

a.primary:hover {
  color: #217f38;
  text-decoration: none;
}

.grey {
  color: #777;
}

.grey_icon {
  color: #aaa;
}

a:hover {
  text-decoration: none;
  color: #2BA84A;
}

.input_group {
  position: relative;
}

.input_group i {
  color: #2BA84A;
  position: absolute;
  left: .75rem;
  top: 50%;
  transform: translateY(50%);
  z-index: 2;
  font-size: .875rem;
}

.form_control {
  background-color: #EFEFEF;
  border: 1px solid #DDDDDD;
  display: block;
  width: 100%;
  color: #333;
  padding: .5rem 1rem;
  border-radius: .25rem;
  text-align: right;
}

.form_control:active, .form_control:focus {
  border-color: #2BA84A;
}

.form_control.transparent {
  background: transparent;
}

.form_control.small_control {
  padding: .25rem 1rem;
}

.checkbox_custom {
  position: relative;
  display: inline-flex;
}

.checkbox_custom input {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}

.checkbox_custom span {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ddd;
  display: inline-block;
  text-align: center;
}

.checkbox_custom span:before {
  content: '\f00c';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  color: #2BA84A;
  opacity: 0;
}

.checkbox_custom input:checked ~ span {
  border-color: #2BA84A;
}

.checkbox_custom input:checked ~ span:before {
  opacity: 1;
}

.checkbox_custom::selection {
  background-color: transparent;
}

.checkbox_custom.check_tab span {
  width: inherit;
  height: inherit;
  padding: .5rem .75rem;
  background: #f3f3f3;
  border-radius: .25rem;
  border: 1px solid #eee;
  font-size: 1rem;
}

.checkbox_custom.check_tab span:before {
  content: none;
}

.checkbox_custom.check_tab input:checked ~ span {
  background: #2BA84A;
  color: #fff;
}

.checkbox_custom.radio span {
  border-radius: 50%;
}

.checkbox_custom.radio span:before {
  content: '';
  width: .75rem;
  height: .75rem;
  display: inline-block;
  border-radius: 50%;
  background: #2BA84A;
}

.select2-container {
  flex: 1;
}

.select2-container .select2-selection--single {
  border: 2px solid #E6E6E6;
  border-radius: .25rem 0 0 .25rem;
  background: #EFEFEF;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: .25rem;
}

.select2-search--dropdown .select2-search__field {
  text-align: right;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 .75rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #2BA84A;
}

.custom_dropfile {
  color: #aaa;
  padding: 2rem 0;
  text-align: center;
  position: relative;
  font-weight: 500;
  border: 2px dashed rgba(207, 207, 207, 0.867);
}

.custom_dropfile span:last-of-type {
  font-size: 1.25rem;
}

.custom_dropfile input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
}

.remove_dropfile {
  color: #fc3a3a;
  font-weight: 500;
}

.main_btn,
.btn-primary {
  background-color: #2BA84A;
  padding: .5rem .75rem;
  color: #fff;
  border-radius: .25rem;
  transition: 0.25s ease-in-out;
  text-align: center;
}

.main_btn:hover,
.btn-primary:hover {
  background: #217f38;
  color: #fff;
  text-decoration: none;
}

.main_btn.secondary,
.btn-primary.secondary {
  background: #A6A6A6;
}

.main_btn.secondary:hover,
.btn-primary.secondary:hover {
  background: #8d8d8d;
}

.main_btn.btn_md,
.btn-primary.btn_md {
  min-width: 6.25rem;
  font-size: 1.125rem;
}

.main_btn.btn_lg,
.btn-primary.btn_lg {
  min-width: 8.125rem;
  font-size: 1.125rem;
}

.main_btn.btn_sm,
.btn-primary.btn_sm {
  padding: .25rem;
}

.main_btn.danger,
.btn-primary.danger {
  background-color: #ff8787;
  color: #ffffff;
}

.swal2-styled.swal2-confirm {
  background-color: #2BA84A !important;
}

.transparent_btn {
  border: 1px solid #2BA84A;
  color: #2BA84A;
  display: inline-block;
  border-radius: .25rem;
  transition: 0.25s ease-in-out;
  padding: .5rem .75rem;
  text-align: center;
}

.icon_btn {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  font-size: .75rem;
}

.icon_btn.danger {
  background-color: #ffd0d0;
  color: #df5656;
}

.icon_btn.edit {
  background-color: #a3daff;
  color: #2675ab;
}

.small_font {
  font-size: .875rem;
  font-weight: 500;
}

.modal .close {
  font-size: 2rem;
  color: #aaa;
}

.dropdown-menu {
  text-align: right;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #2BA84A;
}

.custom_tabs {
  border: 1px solid #ddd;
  background: #F2F2F2;
  border-radius: .25rem;
}

.custom_tabs .nav-link {
  border: 1px solid transparent;
  border-left-color: #ddd;
  color: #333;
  font-weight: 500;
}

.custom_tabs .nav-link.active {
  border-color: #2BA84A;
  border-left: 0 none;
  background: #2BA84A;
  color: #fff;
  border-radius: 0;
}

[data-notify=dismiss] {
  left: .75rem;
  right: auto !important;
}

.navbar {
  background: #2BA84A;
  padding: 0;
}

.navbar-brand {
  color: #fff;
  font-weight: 500;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  padding: 1.25rem 1rem;
  display: inline-block;
}

.navbar-toggler {
  background: rgba(255, 255, 255, 0.4);
  padding: .5rem .75rem;
  border-radius: .25rem;
  color: #fff;
  font-size: .875rem;
  transition: 0.25s ease-in-out;
  line-height: normal;
}

.left_menu button,
.left_menu a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  padding: .5rem .75rem;
  border-radius: .25rem;
  color: #fff;
  font-size: .875rem;
  transition: 0.25s ease-in-out;
  text-decoration: none;
}

.left_menu button:after,
.left_menu a:after {
  content: none;
}

.left_menu button:hover,
.left_menu a:hover {
  background: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.left_menu .dropdown-item {
  color: #777;
}

@media (max-width: 768px) {
  .navbar {
    padding: .5rem 0;
  }
}

@media (min-width: 768px) {
  .fw-menu {
    width: 100%;
    padding: 1rem 1rem 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem) scale(0.8);
    transition: 0.25s ease-in-out;
  }
  .fw-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
  }
  .fw-menu a {
    color: #777;
    text-decoration: none;
  }
  .fw-menu a:hover {
    text-decoration: none;
    color: #2BA84A;
  }
  .navbar-collapse {
    width: initial;
  }
}

.secondary_btn {
  background: #3BA3FB;
  color: #fff;
  display: block;
  padding: .75rem 1rem;
  border-radius: .25rem;
  text-align: center;
  transition: 0.25s ease-in-out;
}

.secondary_btn:hover {
  background: #1b7bcf;
  color: #fff;
}

.side_user {
  position: sticky;
  top: 1rem;
}

.feature {
  padding: .75rem;
}

.feature i {
  color: #2BA84A;
}

.feature:nth-of-type(even) {
  background: #f3f3f3;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 240px;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -240px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.cart_item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.cart_item:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

.cart_item img {
  width: 4rem;
  height: 4rem;
}

.modal_search {
  position: relative;
  width: 100%;
}

.modal_search input {
  width: 100%;
}

.modal_search button {
  position: absolute;
  left: 0;
}

#menu_modal .navbar-nav {
  margin: 0 !important;
}

#menu_modal .topbar_menu {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  display: block !important;
}

#menu_modal .dropdown_menu {
  display: none;
}

#menu_modal .dropdown {
  position: relative;
}

#menu_modal .dropdown > a:after {
  content: '\f053';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  left: .75rem;
  font-size: .75rem;
  color: #aaa;
}

#menu_modal .navbar-nav a {
  padding: .75rem 1rem !important;
  display: block;
  width: 100%;
  color: #333;
  border-bottom: 1px solid #ddd;
  font-weight: 300 !important;
}

#menu_modal .navbar-nav a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cat_link {
  display: flex;
  color: #777;
  align-items: center;
  text-decoration: none;
}

.cat_link:hover {
  text-decoration: none;
}

.cat_link img {
  width: 4rem;
}

.choices__list--dropdown .choices__item {
  word-break: keep-all;
}

[dir="rtl"] .choices__list--dropdown .choices__item--selectable {
  padding-left: 2rem;
}

.card_block {
  font-size: .875rem;
  border: 1px solid #e7e7e7;
  padding: 1rem;
  border-radius: .25rem;
}

.card_block .img_holder {
  margin: -1rem -1rem 0;
}

.card_block a {
  color: inherit;
}

.card_block img {
  width: 100%;
  margin-bottom: 1rem;
}

.card_block h3 {
  font-size: 1rem;
  font-weight: 500;
}

.card_block .card_price {
  font-size: 1.25rem;
  color: #777;
}

.card_block .card_price sup {
  font-size: .75rem;
}

.card_block i {
  color: #a7a7a7;
}

.link_tag {
  display: inline-block;
  border-radius: 2rem;
  font-size: .875rem;
  color: #999999;
  padding: .25rem .5rem;
  border: 1px solid #dee2e6;
  margin-bottom: .5rem;
}

.link_tag:hover {
  background: #f3f3f3;
}

.link_tag.active {
  background: #2BA84A;
  color: #fff;
}

footer {
  padding: 1.5rem 0 0;
  background: #2BA84A;
}

.copyrights {
  background: #ececec;
  padding: .5rem 0;
  font-size: .875rem;
}

.form_icon {
  background: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #868686;
  text-align: center;
  position: absolute;
  left: .75rem;
  top: 50%;
  font-size: .875rem;
  transform: translateY(-50%);
}

.login_section {
  background-position: left;
  background-size: 45% 100%;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .login_section {
    padding: 2rem 0;
  }
}

@media (max-width: 768px) {
  .login_section {
    background-size: 0%;
  }
}

.top-nav a {
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  color: #8d8d8d;
}

.top-nav a.active {
  border-bottom: 1px solid #2BA84A;
  color: #2BA84A;
}

.user_tabs {
  padding-bottom: .75rem;
  border-bottom: 2px solid #dee2e6;
  position: relative;
}

.user_tabs a {
  color: #777;
  display: inline-block;
  margin-left: 1rem;
  font-weight: 500;
  position: relative;
}

.user_tabs a:before {
  content: '';
  width: 100%;
  bottom: calc(-.75rem - 2px);
  position: absolute;
  background: #2BA84A;
  height: 2px;
  opacity: 0;
}

.user_tabs a.active:before {
  opacity: 1;
}

.user_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main_btn.danger_btn {
  background: #ffb3b3;
  color: #bb3333;
}

.nice-number {
  border: 1px solid #dee2e6;
  border-right: 0;
  border-left: 0 none;
  display: inline-flex;
  align-items: stretch;
}

.nice-number input {
  padding: .5rem .75rem;
}

.nice-number button {
  padding: .25rem .5rem;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  transition: 0.25s ease-in-out;
}

/* choices.min.css | https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css */
.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
  border-left: none;
  padding-left: 0;
  margin: 0 8px 0 -4px;
  padding-right: 18px;
  border-right: 1px solid #008fa1;
}

[dir="rtl"] .choices__list--multiple .choices__item {
  background: #2BA84A;
  border-color: #2BA84A;
}
/*# sourceMappingURL=main.css.map */