.navbar {
  background: $color;
  padding: 0;
}

.navbar-brand {
  color: #fff;
  font-weight: 500;

  &:hover {
    color: #fff;
  }
}


.navbar .navbar-nav {
  .nav-link {
    color: #fff;
    padding: 1.25rem 1rem;
    display: inline-block;
  }
}

.navbar-toggler {
  background: rgba(255, 255, 255, .4);
  padding: .5rem .75rem;
  border-radius: .25rem;
  color: #fff;
  font-size: .875rem;
  transition: $trans;
  line-height: normal;
}

.left_menu {

  button,
  a {
    display: inline-block;
    background: rgba(255, 255, 255, .4);
    padding: .5rem .75rem;
    border-radius: .25rem;
    color: #fff;
    font-size: .875rem;
    transition: $trans;
    text-decoration: none;

    &:after {
      content: none;
    }

    &:hover {
      background: rgba(255, 255, 255, .6);
      text-decoration: none;
    }
  }

  .dropdown-item {
    color: #777;
  }

}

@media(max-width: 768px) {
  .navbar {
    padding: .5rem 0;
  }

}

@media(min-width: 768px) {

  .fw-menu {
    width: 100%;
    padding: 1rem 1rem 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(.5rem) scale(.8);
    transition: $trans;

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }

    a {
      color: #777;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: $color;
      }
    }
  }

  .navbar-collapse {
    width: initial;
  }
}

.secondary_btn {
  background: #3BA3FB;
  color: #fff;
  display: block;
  padding: .75rem 1rem;
  border-radius: .25rem;
  text-align: center;
  transition: $trans;

  &:hover {
    background: #1b7bcf;
    color: #fff;
  }
}

.side_user {
  position: sticky;
  top: 1rem;
}

.feature {
  padding: .75rem;

  i {
    color: $color;
  }

  &:nth-of-type(even) {
    background: #f3f3f3;
  }
}