/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cat_link {
  display: flex;
  color: #777;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  img {
    width: 4rem;

  }
}

.choices__list--dropdown .choices__item {
  word-break: keep-all;
}

[dir="rtl"] .choices__list--dropdown .choices__item--selectable {
  padding-left: 2rem;
}

.card_block {
  font-size: .875rem;
  border: 1px solid rgb(231, 231, 231);
  padding: 1rem;
  border-radius: .25rem;

  .img_holder {
    margin: -1rem -1rem 0;
  }

  a {
    color: inherit;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  .card_price {
    font-size: 1.25rem;
    color: #777;

    sup {
      font-size: .75rem;
    }
  }

  i {
    color: #a7a7a7;
  }
}

.link_tag {
  display: inline-block;
  border-radius: 2rem;
  font-size: .875rem;
  color: rgb(153, 153, 153);
  padding: .25rem .5rem;
  border: 1px solid $border;
  margin-bottom: .5rem;

  &:hover {
    background: #f3f3f3;
  }

  &.active {
    background: $color;
    color: #fff;
  }
}

footer {
  padding: 1.5rem 0 0;
  background: $color;
}

.copyrights {
  background: #ececec;
  padding: .5rem 0;
  font-size: .875rem;
}

.form_icon {
  background: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #868686;
  text-align: center;
  position: absolute;
  left: .75rem;
  top: 50%;
  font-size: .875rem;
  transform: translateY(-50%);
}

.login_section {
  background-position: left;
  background-size: 45% 100%;
  background-repeat: no-repeat;

  @media(min-width: 768px) {
    padding: 2rem 0;
  }

  @media(max-width: 768px) {
    background-size: 0%;
  }
}

.top-nav {
  a {
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    color: rgb(141, 141, 141);

    &.active {
      border-bottom: 1px solid $color;
      color: $color;
    }
  }
}

.user_tabs {
  padding-bottom: .75rem;
  border-bottom: 2px solid $border;
  position: relative;

  a {
    color: #777;
    display: inline-block;
    margin-left: 1rem;
    font-weight: 500;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      bottom: calc(-.75rem - 2px);
      position: absolute;
      background: $color;
      height: 2px;
      opacity: 0;
    }

    &.active:before {
      opacity: 1;
    }
  }
}

.user_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main_btn.danger_btn {
  background: rgb(255, 179, 179);
  color: rgb(187, 51, 51);
}

.nice-number {
  border: 1px solid $border;
  border-right: 0;
  border-left: 0 none;
  display: inline-flex;
  align-items: stretch;
}

.nice-number input {
  padding: .5rem .75rem;
}

.nice-number button {
  padding: .25rem .5rem;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  transition: 0.25s ease-in-out;
}

/* choices.min.css | https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css */

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
  border-left: none;
  padding-left: 0;
  margin: 0 8px 0 -4px;
  padding-right: 18px;
  border-right: 1px solid #008fa1;
}

[dir="rtl"] .choices__list--multiple .choices__item {
  background: $color;
  border-color: $color;
}