.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 240px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -240px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}


// product

.cart_item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
  }

  img {
    width: 4rem;
    height: 4rem;
  }
}

.modal_search {
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }

  button {
    position: absolute;
    left: 0;
  }
}

#menu_modal {


  .navbar-nav {
    margin: 0 !important;

  }

  .topbar_menu {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    display: block !important;
  }

  .dropdown_menu {
    display: none;
  }

  .dropdown {
    position: relative;

    >a:after {
      content: '\f053';
      font-family: 'Font Awesome 5 Pro';
      font-weight: 900;
      position: absolute;
      left: .75rem;
      font-size: .75rem;
      color: #aaa;

    }
  }

  .navbar-nav a {
    padding: .75rem 1rem !important;
    display: block;
    width: 100%;
    color: #333;
    border-bottom: 1px solid #ddd;
    font-weight: 300 !important;

    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }

}