$color: #2BA84A;
$border: #dee2e6;
$trans: .25s ease-in-out;

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;

}

a {
  text-decoration: none;
}

button:focus {
  outline: 0 none;
}

img,
iframe {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  font-family: 'Tajawal';
  text-align: right;
  direction: rtl;
  min-height: 100%;
  height: 100%;
}

@import 'ui';
@import 'header';
@import 'modal';
@import 'home';